<nav>
    <ul>
        <li><a href="{{ path('app_admin_home') }}">Home</a></li>
        <li>Categorias</li>
        <li>Produtos</li>
        <li><a href="{{ path('app_admin_register') }}">Usuários</a></li>
    </ul>
</nav
