{% extends '/admin/base.html.twig' %}

{% block title %}Admin - Home{% endblock %}

{% block body %}
<p>Boa Tarde 13h15</p>
<ul>
    <li>Teste 13h18</li>
</ul>
<!-- fa-solid or fas for Classic solid style -->
<i class="fa-solid fa-camera"></i>

<!-- fa-regular or far for Classic regular style -->
<i class="fa-regular fa-camera"></i>

<!-- fa-light or fal for Classic light style -->
<i class="fa-light fa-camera"></i>

<!-- fa-thin or fat for Classic thin style -->
<i class="fa-thin fa-camera"></i>

<!-- fa-duotone or fad for Duotone solid style  -->
<i class="fa-duotone fa-solid fa-camera"></i>

<!-- fa-duotone fa-thin or fadt for Duotone thin style  -->
<i class="fa-duotone fa-thin fa-camera"></i>

<!-- fa-sharp or fass for sharp solid style -->
<i class="fa-sharp fa-solid fa-camera"></i>

<!-- fa-sharp or fasr for sharp regular style -->
<i class="fa-sharp fa-regular fa-camera"></i>

<!-- fa-sharp or fasl for sharp light style -->
<i class="fa-sharp fa-light fa-camera"></i>

<!-- fa-sharp or fast for sharp thin style -->
<i class="fa-sharp fa-thin fa-camera"></i>

<!-- fa-sharp-duotone or fasd for sharp-duotone solid style -->
<i class="fa-sharp-duotone fa-solid fa-camera"></i>

<!-- fa-brands or fab for brands style -->
<i class="fa-brands fa-twitter"></i>
{% endblock %}
